@import "~bootstrap/scss/bootstrap";

.navBar{
    display: flex;
    a {
        font-size: 17px;
        font-weight: 600;
    }
    button{
        padding: 0 1.25rem 0 1.25rem;
        background-color: #4F46E5;
        border: 2px solid #4F46E5;
        border-radius: 3px;
        color: white;
        transition: 0.3s;
        user-select: none;
        &:hover {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            color: #4F46E5;
            background-color: white;
        }
    }
    .navbarLoginBtn{
        margin-right: 25px;
    }
}
a.navbarBrand{
    font-size : 25px;
    color:#4F46E5 !important;

    &:hover {
        cursor: default;
    }
}
